<button type="button" class="btn btn-primary float-right" data-backdrop="static" data-toggle="modal" data-target="#modal1">Agregar Nuevo</button>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form name="formInmueble" #formInmueble="ngForm" (ngSubmit)="guardarInmueble(formInmueble)">

          <div class="form-group">
            <label for="idp">ID</label>
            <input type="text" class="form-control" name="idp" (ngModel)="this.dataApi.seleccionarInmueble.idp">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cuadrante">Cuadrante</label>
              <select class="form-control" name="cuadrante" (ngModel)="this.dataApi.seleccionarInmueble.cuadrante">
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
              </select>
            </div>
            
          <div class="form-group col-md-6">
            <label for="Zona">Zona</label>
            <select class="form-control" name="zona" (ngModel)="this.dataApi.seleccionarInmueble.zona">
              <option value="NORTE">NORTE</option>
              <option value="SUR">SUR</option>
              <option value="ESTE">ESTE</option>
              <option value="OESTE">OESTE</option>
            </select>
          </div>
            
          </div>

          <div class="form-group">
            <label for="portada">Link de la Imagen</label>
            <input type="text" class="form-control" name="portada" (ngModel)="this.dataApi.seleccionarInmueble.portada">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>