
<button type="button" class="btn btn-success float-right" data-backdrop="static" data-toggle="modal" data-target="#modal1">Agregar Nuevo</button>
  <br>
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" >Registro Inmueble</h1>
      </div>
      <div class="modal-body">

        <form name="formInmueble" #formInmueble="ngForm" (ngSubmit)="guardarInmueble(formInmueble)">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="by">Modificado por</label>
              <select class="form-control" name="by" (ngModel)="this.dataApi.seleccionarInmueble.by" required> 
                <option value="{{by}}">{{by}}</option>
              </select>
            </div>
          </div>


<!--Campos para Ubicación-->

          <br>
          <h2>Ubicación</h2>
          <div class="form-row">
 
            <div class="form-group col-md-3">
              <label for="idp">ID</label>
              <input type="text" class="form-control" name="idp" (ngModel)="this.dataApi.seleccionarInmueble.idp">
            </div>
  
              <div class="form-group col-md-3">
                <label for="zona">Zona</label>
                <select class="form-control" name="zona" (ngModel)="this.dataApi.seleccionarInmueble.zona" > 
                  <option value="I-Noroeste">I-Noroeste</option>
                  <option value="II-Noreste">II-Noreste</option>
                  <option value="III-Suroeste">III-Suroeste</option>
                  <option value="IV-Sureste">IV-Sureste</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="portada">Link de la Imagen</label>
                <input type="text" class="form-control" name="portada" (ngModel)="this.dataApi.seleccionarInmueble.portada">
              </div>
          </div>
<!--Campos para Dirección-->
          <br>
          <h2>Dirección</h2>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="estado">Estado</label>
              <select class="form-control" name="estado" (ngModel)="this.dataApi.seleccionarInmueble.estado">            
                <option value="Aguascalientes">Aguascalientes</option>                
                <option value="Baja California">Baja California</option>                
                <option value="Baja California Sur">Baja California Sur</option>                
                <option value="Campeche">Campeche</option>                
                <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>                
                <option value="Colima">Colima</option>                
                <option value="Chiapas">Chiapas</option>                
                <option value="Chihuahua">Chihuahua</option>                
                <option value="Distrito Federal">Distrito Federal</option>                
                <option value="Durango">Durango</option>               
                <option value="Guanajuato">Guanajuato</option>               
                <option value="Guerrero">Guerrero</option>
                <option value="Hidalgo">Hidalgo</option>
                <option value="Jalisco">Jalisco</option>
                <option value="México">México</option>
                <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                <option value="Morelos">Morelos</option>
                <option value="Nayarit">Nayarit</option>
                <option value="Nuevo León">Nuevo León</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Quintana Roo">Quintana Roo</option> 
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Sinaloa">Sinaloa</option>
                <option value="Sonora">Sonora</option>
                <option value="Tabasco">Tabasco</option>
                <option value="Tamaulipas">Tamaulipas</option>
                <option value="Tlaxcala">Tlaxcala</option>  
                <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>  
                <option value="Yucatán">Yucatán</option> 
                <option value="Zacatecas">Zacatecas</option> 
                </select>
            </div>

            <div class="form-group col-md-3">
              <label for="municipio">Municipio</label>
              <input type="text" class="form-control" name="municipio" (ngModel)="this.dataApi.seleccionarInmueble.municipio">
            </div>

            <div class="form-group col-md-3">
              <label for="fraccionamiento">Fraccionamiento</label>
              <input type="text" class="form-control" name="fraccionamiento" (ngModel)="this.dataApi.seleccionarInmueble.fraccionamiento">
            </div>

          </div>
          
          <div class="form-row">
            
            <div class="form-group col-md-6">
              <label for="calle">Calle</label>
              <input type="text" class="form-control" name="calle" (ngModel)="this.dataApi.seleccionarInmueble.calle">
            </div>

            <div class="form-group col-md-2">
              <label for="nInterior">N° Int</label>
              <input type="text" class="form-control" name="nInterior" (ngModel)="this.dataApi.seleccionarInmueble.nInterior">
            </div>

            <div class="form-group col-md-2">
              <label for="nExterior">N° Ext</label>
              <input type="text" class="form-control" name="nExterior" (ngModel)="this.dataApi.seleccionarInmueble.nExterior">
            </div>

            <div class="form-group col-md-2">
              <label for="codigoPostal">Código Postal</label>
              <input type="text" class="form-control" name="codigoPostal" (ngModel)="this.dataApi.seleccionarInmueble.codigoPostal">
            </div>

          </div>
          <div class="form-row">

            <div class="form-group col-md-3">
              <label for="entreCalle1">Entre calle</label>
              <input type="text" class="form-control" name="entreCalle1"  (ngModel)="this.dataApi.seleccionarInmueble.entreCalle1"> 
            </div>
          
            <div class="form-group col-md-3">
              <label for="entreCalle2">y calle</label>
              <input type="text" class="form-control" name="entreCalle2" (ngModel)="this.dataApi.seleccionarInmueble.entreCalle2">
            </div>

            <div class="form-group col-md-6 " >
              <label for="referencia">Referencia</label>
              <input type="text" class="form-control" name="referencia" (ngModel)="this.dataApi.seleccionarInmueble.referencia">
            </div>
            
          </div>
          
<!--Campos para Uso Actual-->
<br>
<h2>Uso Actual</h2>
<div class="form-row">

  <div class="form-group col-md-3">
    <label for="tipoInmueble">Tipo de Inmueble</label>
    <input type="text" list="tipoInmueble" name="tipoInmueble" (ngModel)="this.dataApi.seleccionarInmueble.tipoInmueble" >
    <datalist id="tipoInmueble" > 
      <option value="Casa Unifamiliar">Casa Unifamiliar</option>
      <option value="Casa de Condominio">Casa de Condominio</option>
      <option value="Departamento">Departamento</option>
    </datalist>
  </div>

  <div class="form-group col-md-2">
    <label for="precioVenta">Precio de Venta</label>
    <input type="number" class="form-control" name="precioVenta" (ngModel)="this.dataApi.seleccionarInmueble.precioVenta">
  </div>
  
  <div class="form-group col-md-4">
    <label for="informante">Informante</label>
    <input type="text" class="form-control" name="informante" (ngModel)="this.dataApi.seleccionarInmueble.informante">
  </div>

  <div class="form-group col-md-3">
    <label for="numeroTelefono">Número de Teléfono</label>
    <input type="number" class="form-control" name="numeroTelefono" minlength="7" maxlength="12"  (ngModel)="this.dataApi.seleccionarInmueble.numeroTelefono">
  </div>
</div>

<div class="form-row">

  <div class="form-group col-md-3">
    <label for="edadAproximada">Edad apróximada</label>
    <input type="number" class="form-control" name="edadAproximada" maxlength="2"  (ngModel)="this.dataApi.seleccionarInmueble.edadAproximada">
  </div>

  <div class="form-group col-md-3">
    <label for="nFrente">Número de frentes</label>
    <input type="text" class="form-control" name="nFrente"  (ngModel)="this.dataApi.seleccionarInmueble.nFrente">
  </div>

  <div class="form-group col-md-6">
    <label for="linkInternet">Link de Internet</label>
    <input type="text" class="form-control" name="linkInternet" (ngModel)="this.dataApi.seleccionarInmueble.linkInternet">
  </div>

</div>
<br>
<h5>Fotografías</h5>
<br>
<div class="form-row">
 
  <div class="form-group col-md-3">
    <label for="fachadaPrincipal">Fachada princial</label>
    <input type="text" class="form-control" name="fachadaPrincipal" (ngModel)="this.dataApi.seleccionarInmueble.fachadaPrincipal">
  </div>

  <div class="form-group col-md-3">
    <label for="frenteTerreno">Frente del Terreno</label>
    <input type="text" class="form-control" name="frenteTerreno"  (ngModel)="this.dataApi.seleccionarInmueble.frenteTerreno">
  </div>

  <div class="form-group col-md-3">
    <label for="fondoTerreno">Fondo del Terreno</label>
    <input type="text" class="form-control" name="fondoTerreno"  (ngModel)="this.dataApi.seleccionarInmueble.fondoTerreno">
  </div>

  <div class="form-group col-md-3">
    <label for="superficieTerreno">Superficie del Terreno</label>
    <input type="text" class="form-control" name="superficieTerreno" (ngModel)="this.dataApi.seleccionarInmueble.superficieTerreno">
  </div>

</div>

<!--Campos para Descripción Inmuebles-->
          <br>
          <h2>Descripción del Inmueble</h2>
          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="nNiveles" >Número de Niveles</label>        
              <input type="number" class="form-control" name="nNiveles" min="1" max="10" (ngModel)="this.dataApi.seleccionarInmueble.nNiveles">
            </div>

            <div class="form-group col-md-4">
              <label for="nRecamaras" >Número de Recamaras</label>
              <input type="number" class="form-control" name="nRecamaras" min="1" max="10" (ngModel)="this.dataApi.seleccionarInmueble.nRecamaras">
            </div>

            <div class="form-group col-md-4">
              <label for="ncojonesEstacionamiento" >Número de Cajones de Estacionamiento</label>
              <input type="number" class="form-control" name="ncojonesEstacionamiento" (ngModel)="this.dataApi.seleccionarInmueble.ncojonesEstacionamiento">
            </div>

          </div>

          <div class="form-row">
            
              <div class="form-group col-md-6">
                <label for="nbanosCompletos" >Número de Baños Completos</label>
                <input type="number" class="form-control" name="nbanosCompletos" (ngModel)="this.dataApi.seleccionarInmueble.nbanosCompletos">
              </div>
  
              <div class="form-group col-md-6">
                <label for="nbanosMedios" >Número de Medio Baños</label>
                <input type="number" class="form-control" name="nbanosMedios" (ngModel)="this.dataApi.seleccionarInmueble.nbanosMedios">
              </div>
  
          </div>

<!--Campos para Descripción Contrucción-->
          <br>
          <h2>Descripción de Contrucción</h2>
          <div class="form-row">

            <div class="form-group col-md-3">
              <label for="tipoPiso">Tipo de Piso</label>
              <select class="form-control" name="tipoPiso" (ngModel)="this.dataApi.seleccionarInmueble.tipoPiso" > 
                <option value="Cemento">Cemento</option>
                <option value="Loseta">Loseta</option>
                <option value="Laminado">Laminado</option>
                <option value="cemento pulido">cemento pulido</option>
                <option value="Cemento Rústico">Cemento Rústico</option>
                <option value="Cantera">Cantera</option>
              </select>
            
            </div>

            <div class="form-group col-md-3">
              <label for="tipoLoseta">Tipo de loseta</label>
              <select class="form-control" name="tipoLoseta" (ngModel)="this.dataApi.seleccionarInmueble.tipoLoseta" > 
                <option value="Primera">Primera</option>
                <option value="Segunda">Segunda</option>
                <option value="Tercera">Tercera</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="instalacionElectrica">Instalación Eléctrica</label>
              <select class="form-control" name="instalacionElectrica" (ngModel)="this.dataApi.seleccionarInmueble.instalacionElectrica" > 
                <option value="Visible">Visible</option>
                <option value="Oculta">Oculta</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="cocinaIntegral">Cocina Integral</label>
              <select class="form-control" name="cocinaIntegral" (ngModel)="this.dataApi.seleccionarInmueble.cocinaIntegral" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="aguaPotable">Agua Potable</label>
              <select class="form-control" name="aguaPotable" (ngModel)="this.dataApi.seleccionarInmueble.aguaPotable" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>
          </div>

          <div class="form-row">

            <div class="form-group col-md-2">
              <label for="drenaje">Drenaje</label>
              <select class="form-control" name="drenaje" (ngModel)="this.dataApi.seleccionarInmueble.drenaje" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="alumbradoPublico">Alumbrado Público</label>
              <select class="form-control" name="alumbradoPublico" (ngModel)="this.dataApi.seleccionarInmueble.alumbradoPublico" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="lineaPublica">Linea Telefónica</label>
              <select class="form-control" name="lineaPublica" (ngModel)="this.dataApi.seleccionarInmueble.lineaPublica" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="senalizacion">Señalización</label>
              <select class="form-control" name="senalizacion" (ngModel)="this.dataApi.seleccionarInmueble.senalizacion" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>
            
            <div class="form-group col-md-2">
              <label for="transportePublico">Transporte Público</label>
              <select class="form-control" name="transportePublico" (ngModel)="this.dataApi.seleccionarInmueble.transportePublico" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="tipoVigilancia">Tipo De Vigilancia</label>
              <select class="form-control" name="tipoVigilancia" (ngModel)="this.dataApi.seleccionarInmueble.tipoVigilancia" > 
                <option value="Pública">Pública</option>
                <option value="Privada">Privada</option>
              </select>
            </div>

          </div>

          <div class="form-row">

            <div class="form-group col-md-2">
              <label for="jardin">Jardín</label>
              <select class="form-control" name="jardin" (ngModel)="this.dataApi.seleccionarInmueble.jardin" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="estructura">Estructura</label>
              <select class="form-control" name="estructura" (ngModel)="this.dataApi.seleccionarInmueble.estructura" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label for="insHSanitario">Instalación Hidráulico Sanitario</label>
              <select class="form-control" name="insHSanitario" (ngModel)="this.dataApi.seleccionarInmueble.insHSanitario" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-2">
              <label for="carpinteria">Carpinteria</label>
              <select class="form-control" name="Carpinteria" (ngModel)="this.dataApi.seleccionarInmueble.Carpinteria" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label for="closetCarpinteria">Closets de Carpinteria</label>
              <select class="form-control" name="closetCarpinteria" (ngModel)="this.dataApi.seleccionarInmueble.closetCarpinteria" > 
                <option value="SI">Si</option>
                <option value="NO">No</option>
              </select>
            </div>

          </div>

          <div class="form-row">
            
            <div class="form-group col-md-4">
              <label for="tipoPuertas">Tipo de puertas</label>
              <br>
              <input type="text" list="tipoPuertas" name="tipoPuertas" (ngModel)="this.dataApi.seleccionarInmueble.tipoPuertas" >
              <datalist id="tipoPuertas"> 
                <option value="Puertas de Madera">Puertas de Madera</option>
                <option value="Puertas Métalicas">Puertas Métalicas</option>
                <option value="Puertas de Aluminio">Puertas de Aluminio</option>
              </datalist>
            </div>

            <div class="form-group col-md-4">
              <label for="tipoCanceleria">Tipo de canceleria</label>
              <br>
              <input type="text" list="tipoCanceleria" name="tipoCanceleria" (ngModel)="this.dataApi.seleccionarInmueble.tipoCanceleria">
              <datalist id="tipoCanceleria"> 
                <option value="Canceleria de Aluminio">Canceleria de Aluminio</option>
                <option value="Canceleria de Fierro">Canceleria de Fierro</option>
              </datalist>
            </div>

            <div class="form-group col-md-4">
              <label for="herreria">Herreria</label>
              <br>
              <input type="text"  list="herreria" name="herreria" (ngModel)="this.dataApi.seleccionarInmueble.herreria" >
              <datalist id="herreria"> 
                <option value="Protección en Ventanas">Protección en Ventanas</option>
                <option value="Protección en Puertas">Protección en Puertas</option>
                <option value="Protección en Muros perimetrales">Protección en Muros perimetrales</option>
              </datalist>
            </div>

          </div>
<!--Campos para Caracteristicas Terreno-->
          <br>
          <h2>Características del Terreno</h2>

          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="ClasZona">Clasificación de la Zona </label>
              
              <select class="form-control" name="ClasZona" (ngModel)="this.dataApi.seleccionarInmueble.ClasZona" > 
                <option value="Habitacional">Habitacional</option>
                <option value="Comercial">Comercial</option>
                <option value="De uso Mixto">De uso Mixto</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="tipoContruccionDominanteCalle">Tipo de Contrucción dominante en la calle </label>
              <input type="text" list="tipoContruccionDominanteCalle" name="tipoContruccionDominanteCalle" (ngModel)="this.dataApi.seleccionarInmueble.tipoContruccionDominanteCalle" >
              <datalist id="tipoContruccionDominanteCalle" > 
                <option value="Habitacional">Habitacional</option>
                <option value="Comercial">Comercial</option>
                <option value="De uso Mixto">De uso Mixto</option>
              </datalist>
            </div>

            <div class="form-group col-md-4">
              <label for="estadoConservacionInmueble">Estado de conservación del inmueble</label>
              <select class="form-control" name="estadoConservacionInmueble" (ngModel)="this.dataApi.seleccionarInmueble.estadoConservacionInmueble" > 
                <option value="Bueno">Bueno</option>
                <option value="Malo">Malo</option>
                <option value="Regular">Regular</option>
              </select>
            </div>
          </div>
        

          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="calidadProyecto">Calidad del Proyecto</label>
              <select class="form-control" name="calidadProyecto" (ngModel)="this.dataApi.seleccionarInmueble.calidadProyecto" > 
                <option value="Bueno">Bueno</option>
                <option value="Malo">Malo</option>
                <option value="Regular">Regular</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="indiceSaturacionZona">Índice de saturación en la zona</label>
              <select class="form-control" name="indiceSaturacionZona" (ngModel)="this.dataApi.seleccionarInmueble.indiceSaturacionZona" > 
                <option value="Baja">Baja</option>
                <option value="Media">Media</option>
                <option value="Alta">Alta</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="unidadesRentables">Unidades Rentables</label>
              <input type="number" class="form-control" name="unidadesRentables" (ngModel)="this.dataApi.seleccionarInmueble.unidadesRentables" >
            </div>
           
          </div>

          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="densidadPoblacion">Densidad de población</label>
              <select class="form-control" name="densidadPoblacion" (ngModel)="this.dataApi.seleccionarInmueble.densidadPoblacion" > 
                <option value="Baja">Baja</option>
                <option value="Media">Media</option>
                <option value="Alta">Alta</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="usoSueloPermitido">Uso del suelo permitido</label>
              <select class="form-control" name="usoSueloPermitido" (ngModel)="this.dataApi.seleccionarInmueble.usoSueloPermitido" > 
                <option value="Habitacional">Habitacional</option>
                <option value="Comercial">Comercial</option>
                <option value="Mixto">Mixto</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="densidadPoblacion">Lote por intensidad habitacional</label>
              <input type="text" class="form-control" name="densidadPoblacion" (ngModel)="this.dataApi.seleccionarInmueble.densidadPoblacion">
            </div>

          </div>
          

<!--Campos para Vías de Acceso-->
          <br>
          <h2>Vías de Acceso</h2>
          <div class="form-row">


              <div class="form-group col-md-4">
                <div class=" custom-checkbox custom-control">
                  <input class="custom-control-input" name="callePrincipal" type="checkbox" id="callePrincipal" value="CallePrincipal" (ngModel)="this.dataApi.seleccionarInmueble.callePrincipal">
                  <label class="custom-control-label" for="callePrincipal">Calle Principal</label>
                </div>
              </div>

              <div class="form-group col-md-4">
                <div class=" custom-checkbox custom-control">
                  <input class="custom-control-input" name="calleSecundaria"  type="checkbox" id="calleSecundaria" value="Callesecundaria" (ngModel)="this.dataApi.seleccionarInmueble.calleSecundaria">
                  <label class="custom-control-label" for="calleSecundaria">Calle secundaria</label>
                </div>

              </div>
                
              <div class="form-group col-md-4"> 
                <div class=" custom-checkbox custom-control">
                  <input class="custom-control-input" name="callePrivada"  type="checkbox" id="callePrivada" value="CalleenPrivada" (ngModel)="this.dataApi.seleccionarInmueble.callePrivada">
                  <label class="custom-control-label" for="callePrivada"> Calle en Privada</label>
                </div>
              </div>
            </div>
              
            <br>
            <h5>Servicios Públicos</h5>
            <br>
            <div class="form-row">
              <div class="form-group col-md-3">
                <div class=" custom-checkbox custom-control">
                  <input class="custom-control-input" name="agua" type="checkbox" id="agua" value="agua" (ngModel)="this.dataApi.seleccionarInmueble.agua">
                  <label class="custom-control-label" for="agua">Agua</label>
                </div>
              </div>

              <div class="form-group col-md-3">
                <div class=" custom-checkbox custom-control">
                  <input class="custom-control-input" name="luz" type="checkbox" id="luz" value="luz" (ngModel)="this.dataApi.seleccionarInmueble.luz">
                  <label class="custom-control-label" for="luz">Luz</label>
                </div>
              </div>

              <div class="form-group col-md-3">
                <div class=" custom-checkbox custom-control">
                  <input class="custom-control-input" name="drenaje" type="checkbox" id="drenaje" value="drenaje" (ngModel)="this.dataApi.seleccionarInmueble.drenaje">
                  <label class="custom-control-label" for="drenaje">Drenaje</label>
                </div>
              </div>

              <div class="form-group col-md-3">
                <div class=" custom-checkbox custom-control">
                  <input class="custom-control-input" name="alcantarillado" type="checkbox" id="alcantarillado" value="alcantarillado" (ngModel)="this.dataApi.seleccionarInmueble.alcantarillado">
                  <label class="custom-control-label" for="alcantarillado">Alcantarillado</label>
                </div>
              </div>
            </div>
           
              

         

          
<!--Campos para Servicios Distancia-->
          <br>
          <h2>Servicios y Distancia</h2>

          <h5>Servicios de Salud</h5>

        <div class="form-row">

          <div class="form-group col-md-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="ser1erNivel" id="ser1erNivel" checked="" (ngModel)="this.dataApi.seleccionarInmueble.ser1erNivel">
              <label class="custom-control-label" for="ser1erNivel">1er Nivel</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="ser2doNivel" id="ser2doNivel" checked="" (ngModel)="this.dataApi.seleccionarInmueble.ser2doNivel">
              <label class="custom-control-label" for="ser2doNivel">2do Nivel</label>
            </div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="ser3erNivel" id="ser3erNivel" checked="" (ngModel)="this.dataApi.seleccionarInmueble.ser3erNivel">
              <label class="custom-control-label" for="ser3erNivel">3er Nivel</label>
            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="distanciaIglesia">Distancia a Iglesia</label>
            <input type="number" class="form-control" name="distanciaIglesia"  placeholder="Kilómentros" (ngModel)="this.dataApi.seleccionarInmueble.distanciaIglesia">
          </div>

          <div class="form-group col-md-3">
            <label for="distanciaMercado">Distancia a Mercado</label>
            <input type="number" class="form-control" name="distanciaMercado" placeholder="Kilómentros" (ngModel)="this.dataApi.seleccionarInmueble.distanciaMercado">
          </div>

          <div class="form-group col-md-3">
            <label for="distanciaSuperMercado">Distancia a Super Mercado</label>
            <input type="number" class="form-control" name="distanciaSuperMercado" placeholder="Kilómentros" (ngModel)="this.dataApi.seleccionarInmueble.distanciaSuperMercado">
          </div>
        </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>
