<div class="jumbotron">
    <h1 class="display-1">G I A V A L</h1>
    <h1 class="display-4">Avaluos Inmobiliarios</h1>
    <br><br>
    <p class="lead"> <strong>Nuestra misión</strong></p>
    <hr class="my-4">
    <p class="mision">Es proporcionar a nuestros clientes datos confiables del valor real de su bien inmueble, que optimice su rápida venta en el mercado y evitándole vender su propiedad por debajo de su valor real. Nuestros profesionales están comprometidos con su trabajo.
    </p>
    <p class="lead">
      <button type="button" class="btn btn-secondary">¿Quienes Somos?</button>
      <button type="button" class="btn btn-secondary">C.V. Empresa</button>
      <button type="button" class="btn btn-secondary">Servicios que se Ofrece</button>
    </p>
  </div>