
<section class="row mt-5">
  <div class="col">
    <app-modal></app-modal>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cuadrante</th>
          <th scope="col">Zona</th>
          <th scope="col">Imagen</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inmueble of inmuebles" >
          <th scope="row">{{inmueble.id}}</th>
          <td>{{inmueble.cuadrante}}</td>
          <td>{{inmueble.zona}}</td>
          <td ><img src="{{inmueble.portada}}" class="img-fluid"></td>
          <td>
            <button type="button" (click)="borrarUnLibro(inmueble.id)" class="btn btn-primary">Borrar</button>
              
            <!--
              <a class="nav-link dropdown-toggle float-right" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Más opciones</a>
              <div class="dropdown-menu" style="">
                <a class="dropdown-item" href="#">Ver más detalles</a>
                <a class="dropdown-item" href="#">Modificar</a>
                <a class="dropdown-item" (click)="borrarUnLibro(inmueble.id)">Eliminar</a>
              </div>
            -->
          </td>
        </tr>
      </tbody>
    </table> 
  </div>
</section>
