<section id="inmueble">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_inmueble">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img src="{{inmueble.portada}}" alt="{{inmueble.zona}}" class="img-fluid"><p>
                            <h4 class="card-title">{{inmueble.id}}</h4>
                            <h4 class="card-title">{{inmueble.cuadrante}}</h4>
                            <h4 class="card-title">{{inmueble.zona}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>