<section id="inmuebles" class="mt-5">
    <div class="container">
      <div class="row">
        <legend class="text-center">Inmuebles Registrados</legend>
        <div class="col-xs-12 col-sm-6 col-md4" *ngFor="let inmueble of inmuebles">
          <div class="card">
            <div class="card-body text-center">
              
              <h4 routerLink="/detalles/{{inmueble.id}}" class="card-title">{{inmueble.id}}</h4>
              <p> {{inmueble.zona}}</p>
              <p> {{inmueble.cuadrante}}</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  